<style>
	
</style>
<footer class="footer section">
	<div class="container">
		<div class="row">
			{{ page.footer_social }}
		</div>
				
		
		<hr>
		<p>This site was built as a collaboration between <a href="">Manifesto Digital</a> and <a href="">Compucorp</a></p>
	</div>
</footer>